cachetools==5.5.2
markdown-to-mrkdwn==0.1.4
opentelemetry-exporter-otlp==1.29.0
opentelemetry-sdk==1.29.0
openinference-instrumentation-smolagents==0.1.6
requests==2.32.3
slack-bolt==1.22.0
slack-sdk==3.34.0
smolagents[openai]==1.10.0
